* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(117, 0, 0);
}

h1 {
  padding: 40px;
  text-align: center;
  font-size: 100px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
  margin: 20px;
}

.list {
  display: block;
  margin: 10px auto;
  padding: 40px;
  list-style: none;
  width: 400px;
  height: auto;
}

.items {
  padding: 20px;
  border: 10px solid rgb(117, 0, 0);
  text-align: center;
  background-color: black;
}

a {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-decoration: none;
}

a img {
  width: 270px;
  height: auto;
  margin-left: -5px;
  padding-top: 25px;
}
