* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  background-color: rgb(128, 116, 101);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  padding: 40px;
  border: 1px solid white;
  margin: 20px;
  background-color: black;
}

#image {
  display: block;
  width: 300px;
  height: auto;
  margin: 10px auto;
}

a {
  display: block;
  text-decoration: none;
  border: 3px solid black;
  padding: 10px;
  background-color: black;
  width: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 10px auto;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  border-right: 2px solid white;
}

h1,
h2,
h3,
ul,
ol,
p,
a {
  color: white;
}

h1,
.header,
ul {
  text-align: center;
}

.header {
  border: 2px solid white;
  background-color: black;
  padding: 10px;
}

ul {
  list-style: none;
}

li {
  font-size: 20px;
}
